#presentacion{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row
}

#presentacion #botones{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#presentacion #persona{
    padding: 15px;
    margin: 0;
    align-items: center;
}

#presentacion #persona #fotoYtitulo{
    width: 50%;
    display: flex;
}

#presentacion #persona #fotoYtitulo #foto, #presentacion #persona #fotoYtitulo #apellido{
    width: 25%;
}

#presentacion #persona #acerca{
    width: 50%;
}

#presentacion #persona #foto .img-fluid {
    border-radius: 50%;
}

#presentacion #persona div #nombre, #presentacion #persona div p, #presentacion #persona div span h4 {
    text-align: center;
}

@media only screen and (max-width:768px) {
    #presentacion #persona #fotoYtitulo{
        display: flex;
        flex-direction: column;
    }
}



