.container-fluid{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
}

.container-fluid #botones{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container-fluid #persona{
    display: flex;
    padding: 15px;
    margin: 0;
    align-items: center;
}

.container-fluid #persona #fotoYtitulo{
    display: flex;
}

.container-fluid #persona #foto .img-fluid {
    border-radius: 50%;
}

.container-fluid #persona div #nombre, .container-fluid #persona div p, .container-fluid #persona div span h4 {
    text-align: center;
}

@media only screen and (max-width:768px) {
    .container-fluid #persona #fotoYtitulo{
        display: flex;
        flex-direction: column;
    }
}



