#presentacion{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Renderizado de botones*/
#presentacion #botones{
    position: relative;
    width: 40px;
    right: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#presentacion #botones a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 5px;
    margin-top: 5px;
}

#presentacion #botones a svg{
    position: relative;
    width: 20px;
    height: 20px;
}

/*Renderizado de persona*/
#presentacion #persona{
    position: relative;
    width: 90%;
    margin: 20px;
    display: flex;
}

#presentacion #persona #contenedor1{
    width: 40%;
}

#presentacion #persona #contenedor1 #foto .img-fluid {
    border-radius: 50%;
}

#presentacion #persona #contenedor1 #datos {
    width: 100%;
}

#presentacion #persona #contenedor1 #datos #nombre, #presentacion #persona #contenedor1 #datos #titulo {
    width: 100%;
    text-align: center;
    margin: 0;
}

#presentacion #persona #contenedor2 {
    width: 60%;
}

#presentacion #persona #contenedor2 #encabezado{
    width: 100%;
    display: flex;
    justify-content: center;
}

#presentacion #persona #contenedor2 #encabezado h1 {
    text-transform: uppercase;
}

#presentacion #persona #contenedor2 #encabezado h1:hover {
color:  #ae3452
}

#presentacion #persona #contenedor2 #parrafo p {
    width: 100%;
    text-align: center;
}

/*Notificacion base de datos vacia*/
#presentacion .notificacion{
    width: 80%;
}

#presentacion .notificacion .alert{
    width: 100%;
    margin: 0;
}

#presentacion .notificacion .alert h4{
    text-transform: uppercase;
}

/*Responsivo*/
@media only screen and (max-width:768px) {
    #presentacion #persona #fotoYtitulo{
        display: flex;
        flex-direction: column;
    }
}



