<div class="container-fluid" id="educacion">
    <div id="encabezado">
        <div id="titulo">
            <h1>Educación</h1>
        </div>
        <!--Boton agregar experiencia-->
        <a class="btn btn-info text-light botones" data-bs-toggle="modal" data-bs-target="#agregarModalEducacion"
            data-bs-whatever="agregarModalEducacion" (click)="openModal('agregar')" *ngIf="isLogged">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                    d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM256 368C269.3 368 280 357.3 280 344V280H344C357.3 280 368 269.3 368 256C368 242.7 357.3 232 344 232H280V168C280 154.7 269.3 144 256 144C242.7 144 232 154.7 232 168V232H168C154.7 232 144 242.7 144 256C144 269.3 154.7 280 168 280H232V344C232 357.3 242.7 368 256 368z" />
            </svg>
        </a>
    </div>

    <!--Notificacion base de datos vacía-->
    <div *ngIf="listaEducacion?.length == 0" class="notificacion">
        <div class="alert" role="alert">
            <h4 class="alert-heading text-light">No hay nada para mostrar</h4>
            <app-loader></app-loader>
        </div>
    </div>

    <div *ngFor="let educacion of listaEducacion" id="listado">
        <div id="texto">
            <div>
                <h3>{{educacion.institucion}}</h3>
            </div>
            <div>
                <h5>{{educacion.anoInicio}} - {{educacion.anoFin}}</h5>
            </div>
            <div>
                <h6>{{educacion.titulo}}</h6>
            </div>
        </div>
        <div id="botones">
            <a (click)="openModal('editar', educacion)" class="btn btn-primary tooltips" data-bs-placement="top"
                data-bs-toggle="modal" data-original-title="Edit" data-bs-target="#editarModalEducacion"
                *ngIf="isLogged">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z" />
                </svg>
            </a>
            <a (click)="openModal('eliminar', educacion)" class="btn btn-danger delete" data-bs-placement="top"
                data-bs-toggle="modal" data-original-title="Delete" data-bs-target="#eliminarModalEducacion"
                *ngIf="isLogged">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z" />
                </svg>
            </a>
        </div>
    </div>
</div>


<!--Formularios:modal-->
<!--Modal agregar educacion-->
<div class="modal fade" id="agregarModalEducacion" tabindex="-1" role="dialog"
    aria-labelledby="agregarEducacionModallLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarEducacionModallLabel">Agregar Educación</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #agregarForm="ngForm">
                    <div class="form-group">
                        <label for="institucion" class="col-form-label">Institución</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="institucion"
                            class="form-control" id="institucion" required>
                    </div>
                    <div class="form-group">
                        <label for="titulo" class="col-form-label">Título</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="titulo" class="form-control"
                            id="titulo" required>
                    </div>
                    <div class="form-group">
                        <label for="anoInicio" class="col-form-label">Año Inicio</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="anoInicio" class="form-control"
                            id="anoInicio" required>
                    </div>
                    <div class="form-group">
                        <label for="anoFin" class="col-form-label">Año Fin</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="anoFin" class="form-control"
                            id="anoFin" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" (click)="handleAdd($event)" class="btn btn-primary"
                    [disabled]="agregarForm.invalid">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal editar educacion-->
<div class="modal fade" id="editarModalEducacion" tabindex="-1" role="dialog"
    aria-labelledby="editarEducacionModallLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarEducacionModallLabel">Editar Educación {{modificarEducacion?.idEdu}}
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="institucion" class="col-form-label">Institución</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="institucion"
                            class="form-control" id="institucion" required>
                    </div>
                    <div class="form-group">
                        <label for="titulo" class="col-form-label">Título</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="titulo" class="form-control"
                            id="titulo" required>
                    </div>
                    <div class="form-group">
                        <label for="anoInicio" class="col-form-label">Año Inicio</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="anoInicio" class="form-control"
                            id="anoInicio" required>
                    </div>
                    <div class="form-group">
                        <label for="anoFin" class="col-form-label">Año Fin</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="anoFin" class="form-control"
                            id="anoFin" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="editarEducacion(modificarEducacion!.idEdu)">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>


<!--Modal eliminar educacion-->
<div class="modal fade" id="eliminarModalEducacion" tabindex="-1" role="dialog"
    aria-labelledby="eliminarEducacionModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarEducacionModalLabel">Eliminar Educación</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-dark">¿Estás seguro de eliminar esta educación?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                <button type="submit" (click)="eliminarEducacion(borrarEducacion!.idEdu)"
                    class="btn btn-danger">Si</button>
            </div>
        </div>
    </div>
</div>