#educacion {
    width: 100%;
    background-color: #0c0c2c;
    padding: 0;
    margin: 0;
}

#educacion #encabezado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#educacion #encabezado #titulo{
    display: flex;
    align-items: center;
}

#educacion #encabezado #titulo h1{
    margin: 0; 
    padding: 10px;
    text-transform: uppercase;
    justify-content: center;
}

#educacion #encabezado a {
    position: absolute;
    height: 50px;
    padding: 10px;
    right: 20px;
}

#educacion #encabezado a svg {
    width: 25px;
}

/*Notificacion base de datos vacia*/
#educacion .notificacion{
    width: 100%;
    margin: 20px;
}

#educacion .notificacion .alert{
    width: 100%;
}

#educacion .notificacion .alert h4{
    text-transform: uppercase;
}

/*Renderizado de lista*/
#educacion #listado {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#educacion #listado #texto {
    width: 90%;
    margin: 20px;
    color: white;
}

#educacion #listado #botones {
    padding: 0;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#educacion #listado #botones a {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-top: 5px;
}

#educacion #listado #botones a svg{
    width: 25px;
    height: 25px;
}

/*Responsivo*/