#educacion {
    width: 100%;
    background-color: #0c0c2c;
    padding: 0;
    margin: 0;
    color: white;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

#educacion #encabezado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#educacion #encabezado #titulo{
    display: flex;
    align-items: center;
}

#educacion #encabezado #titulo h1{
    padding: 10px;
    text-transform: uppercase;
    justify-content: center;
}

#educacion #encabezado #titulo h1:hover{
    color: #ae3452;
}

#educacion #encabezado a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 5px;
    right: 20px;
}

#educacion #encabezado a svg {
    position: relative;
    width: 20px;
    height: 20px;
}

/*Notificacion base de datos vacia*/
#educacion .notificacion{
    width: 80%;
}

#educacion .notificacion .alert{
    width: 100%;
    margin: 0;
}

#educacion .notificacion .alert h4{
    text-transform: uppercase;
}

/*Renderizado de lista*/
#educacion #listado {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#educacion #listado #texto {
    width: 90%;
    margin: 20px;
    color: white;
}

#educacion #listado #botones {
    padding: 0;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#educacion #listado #botones a {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#educacion #listado #botones a svg{
    position: relative;
    width: 20px;
    height: 20px;
}

/*Modals*/
.modal-content{
    border: solid 2px #0c0c2c;
}

.modal-content .modal-header{
    border-bottom: solid 2px #ae3452;
}

.modal-content .modal-body input {
    border: solid 1px #38bbc3;
}

.modal-content .modal-footer {
    border-top: solid 2px #ae3452;
}

/*Responsivo*/