<div class="container-fluid">
    <div>
        <h1 class="mt-5 mx-5">Proyectos</h1>
        <!--Boton agregar Proyecto-->
        <button type="button" class="btn btn-info text-light" data-bs-toggle="modal"
            data-bs-target="#agregarModalProyecto" data-bs-whatever="agregarModalProyecto"
            (click)="openModal('agregar')" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>

    <!--Notificacion base de datos vacía-->
    <div *ngIf="listaProyectos?.length == 0" class=" col-lg-12 col-md-12 col-xl-12">
        <div class="alert" role="alert">
            <h4 class="alert-heading">No hay nada para mostrar</h4>
            <p>No se ha cargado ningun proyecto</p>
        </div>
    </div>

    <div class="row" *ngFor="let proyecto of listaProyectos">
        <div class="col-sm-12 col-md-9 col-lg-9" id="descripcción">
            <h1>{{proyecto.nombreProyecto}}</h1>
            <p>{{proyecto.descripcion}}</p>
            <a href="{{proyecto.url}}" target="_blank">Ir al proyecto</a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3" id="imagen_proyecto">
            <img src="{{proyecto.fotoProyecto}}" alt="proyecto.name image" class="img-fluid">
        </div>
        <div class="col-text-center" id="botones">
            <div class="col-text-center" id="botones">
                <a (click)="openModal('editar', proyecto)" class="btn btn-primary tooltips" data-bs-placement="top"
                    data-bs-toggle="modal" data-original-title="Edit" data-bs-target="#editarModalProyecto" *ngIf="isLogged">
                    <i class="fa fa-pencil"></i>
                </a>
                <a (click)="openModal('eliminar', proyecto)" class="btn btn-danger delete" data-bs-placement="top"
                    data-bs-toggle="modal" data-original-title="Delete" data-bs-target="#eliminarModalProyecto" *ngIf="isLogged">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!--Formularios:modal-->
<!--Modal agregar Proyecto+-->
<div class="modal fade" id="agregarModalProyecto" tabindex="-1" role="dialog"
    aria-labelledby="agregarProyectoModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarProyectoModalLabel">Agregar Proyecto</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #agregarForm="ngForm">
                    <div class="form-group">
                        <label for="nombreProyecto" class="col-form-label">Nombre Proyecto</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="nombreProyecto"
                            class="form-control" id="institucion" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion" class="col-form-label">Descripción</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="descripcion"
                            class="form-control" id="titulo" required>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-form-label">Url Proyecto</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="url" class="form-control"
                            id="url" required>
                    </div>
                    <div class="form-group">
                        <label for="fotoProyeto" class="col-form-label">Imagen Proyecto</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="fotoProyecto"
                            class="form-control" id="fotoProyeto" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" (click)="handleAdd()" class="btn btn-success"
                    [disabled]="agregarForm.invalid">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal editar Proyecto-->
<div class="modal fade" id="editarModalProyecto" tabindex="-1" role="dialog" aria-labelledby="editarProyectoModalLabel"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarProyectoModalLabel">Editar Proyecto: {{modificarProyecto?.nombreProyecto}}
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="nombreProyecto" class="col-form-label">Nombre Proyecto</label>
                        <input type="text" (keyup)="handleChange($event)"
                            ngModel="{{modificarProyecto?.nombreProyecto}}" name="nombreProyecto" class="form-control"
                            id="nombreProyecto" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion" class="col-form-label">Descripción</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel="{{modificarProyecto?.descripcion}}"
                            name="descripcion" class="form-control" id="descripcion" required>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-form-label">Url Proyecto</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel="{{modificarProyecto?.url}}"
                            name="url" class="form-control" id="url" required>
                    </div>
                    <div class="form-group">
                        <label for="fotoProyeto" class="col-form-label">Imagen Proyecto</label>
                        <input type="text" (keyup)="handleChange($event)" ngModel name="fotoProyecto"
                            class="form-control" id="fotoProyeto" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    (click)="editarProyecto(modificarProyecto!.idProy)">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>


<!--Modal eliminar Proyecto-->
<div class="modal fade" id="eliminarModalProyecto" tabindex="-1" role="dialog"
    aria-labelledby="eliminarProyectoModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarProyectoModalLabel">Eliminar Proyecto</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-dark">¿Estás seguro de eliminar este proyecto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="submit" (click)="eliminarProyecto(borrarProyecto!.idProy)"
                    class="btn btn-danger">Si</button>
            </div>
        </div>
    </div>
</div>