#proyectos {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #0c0c2c;
    border-top: solid 3px #ae3452;
    border-bottom: solid 3px white;
}

#proyectos #encabezado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#proyectos #encabezado #titulo{
    display: flex;
    align-items: center;
}

#proyectos #encabezado #titulo h1{
    padding: 10px;
    text-transform: uppercase;
    justify-content: center;
    border: double 3px #38bbc3;
    border-radius: 20px;
    color: white;
}

#proyectos #encabezado #titulo h1:hover{
    color: #ae3452;
}

#proyectos #encabezado a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 40px;
    width: 40px;
    right: 20px;
}

#proyectos #encabezado a svg {
    position: relative;
    width: 20px;
    height: 20px;
}

/*Notificacion base de datos vacia*/
#proyectos .notificacion{
    width: 80%;
    color: white;
}

#proyectos .notificacion .alert{
    width: 100%;
    margin: 0;
}

#proyectos .notificacion .alert h4{
    text-transform: uppercase;
}

/*Renderizado de lista*/
#proyectos #contenedor_proyectos {
    width: 100%;
}

#proyectos #contenedor_proyectos #listado{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#proyectos #contenedor_proyectos #listado #card{
    width: 45%;
    height: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: double 3px #38bbc3;
    background-color: white;
    margin: 20px;
}

#proyectos #contenedor_proyectos #listado #card #header {
    width: 100%;
    position: relative;

}

#proyectos #contenedor_proyectos #listado #card #header #img{
    width: 100%;
    height: 295px;
    object-fit: contain;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#proyectos #contenedor_proyectos #listado #card #body{
    width: 100%;
    text-align: center;
    border-top: double 3px #ae3452;
    border-bottom: double 3px #ae3452;
}

#proyectos #contenedor_proyectos #listado #card #body #nombre{
    width: 100%;
    text-transform: uppercase;
    margin: 0;
}

#proyectos #contenedor_proyectos #listado #card #body #text{
    width: 100%;
    margin: 0;
}

#proyectos #contenedor_proyectos #listado #card #footer{
    width: 100%;
    text-align: center;
}

#proyectos #contenedor_proyectos #listado #card #footer a{
    text-decoration: none;
    color: black;
}

#proyectos #contenedor_proyectos #listado #card #footer a:hover{
    text-decoration: underline;
}

#proyectos #contenedor_proyectos #listado #card #footer #botones {
    height: 40px;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

#proyectos #contenedor_proyectos #listado #card #footer #botones a {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#proyectos #contenedor_proyectos #listado #botones #card #footer a svg{
    width: 20px;
    height: 20px;
}

/*Modals*/
.modal-content{
    border: solid 2px #0c0c2c;
}

.modal-content .modal-header{
    border-bottom: solid 2px #ae3452;
}

.modal-content .modal-body input {
    border: solid 1px #38bbc3;
}

.modal-content .modal-footer {
    border-top: solid 2px #ae3452;
}

/*Responsivo*/

