#encabezado {
    width: 100%;
    background-color: #0c0c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white ;
}

#encabezado .logo {
    width: 200px;
}

#encabezado .redes {
    display: flex;
    margin-right: 12px;
    align-items: center;
}

#encabezado .redes #social a svg {
    width: 40px;
    margin: 0px 10px;
    fill: white;
}

#encabezado .redes #social a svg:hover {
    fill: #38bbc3;
}

#encabezado .redes #ingreso a svg {
    width: 40px;
    margin: 0px 15px;
    fill: white;
}

#encabezado .redes #ingreso a svg:hover{
    fill: #38bbc3;
}

#banner {
    display: flex;
    padding: 0;
}

#banner img {
    width: 100vw;
    object-fit: cover;
}

#banner .titulo{
    text-transform: uppercase;
    color: white;
    position: absolute;
    z-index: 10;
    top: 60%;
    margin-left: 20px;
    font-size: 40px;
}

/*Responsivo*/
@media only screen and (max-width: 768px) {
    #banner .titulo{
        top: 280px;
    }
}

@media only screen and (max-width: 425px) {
    #encabezado {
        width: 100%;
        padding: 10px;
    }

    #encabezado .logo {
        width: 150px;
    }        

    #encabezado .redes {
        margin: 0;
        flex-direction: column;
        display: flex;
        height: 50px;
    }

    #encabezado .redes #ingreso {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #encabezado .redes #ingreso svg {
        margin: 0;
        width: 50px;
        margin-right: 20px;
    }

    #encabezado .redes #social {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        top: 95px;
    }

    #encabezado .redes #social svg {
        padding-top: 5px;
        width: 30px;
        height: 30px;   
    }

    #banner{
        height: 225px;
    }

    #banner .titulo{
        position: absolute;
        top: 220px;
        font-size: 20px;
    }
}

/*Responsivo para pantallas menores a 320px*/
@media only screen and (max-width: 320px) {
    #encabezado .redes #social {
        top: 65px;
    }

    #banner .titulo{
        top: 190px;
    }
}