<div class="container-fluid">
    <div class="row" *ngFor="let experiencia of listaExperiencia">
        <h1>Experiencia Laboral</h1>
        <div clas="col-lg-10">
            <h1>Trabajo 1</h1>
            <h3>{{experiencia.empresa}}</h3>
            <h3>{{experiencia.anoInicio}} - {{experiencia.anoFin}} </h3>
            <p>{{experiencia.descripcion}}</p>
        </div>
        <div class="col-text-center" id="botones">
            <a class="btn btn-primary tooltips"
            data-placement="top" 
            data-toggle="tooltip"
            data-original-title="Edit">
            <i class="fa fa-pencil"></i>
            </a>
            <a class="btn btn-danger delete"
                data-placement="top" 
                data-toggle="tooltip"
                data-original-title="Delete">
            <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
</div>
