#experiencia {
    width: 100%;
    background-color: #0c0c2c;
    color: white;
    padding: 0;
    margin: 0;
    border-top: solid 3px white;
    border-bottom: solid 3px #ae3452;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

#experiencia #encabezado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#experiencia #encabezado #titulo{
    display: flex;
    align-items: center;
}

#experiencia #encabezado #titulo h1{
    padding: 10px;
    text-transform: uppercase;
    justify-content: center;
    border: double 3px #38bbc3;
    border-radius: 20px;
}

#experiencia #encabezado #titulo h1:hover{
    color: #ae3452;
}

#experiencia #encabezado a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 5px;
    right: 40px;
}

#experiencia #encabezado a svg {
    position: relative;
    width: 20px;
    height: 20px;
}

/*Notificacion base de datos vacia*/
#experiencia .notificacion{
    width: 100%;
    margin: 20px;
}

#experiencia .notificacion .alert{
    width: 100%;
}

#experiencia .notificacion .alert h4{
    text-transform: uppercase;
}

/*Renderizado de lista*/
#experiencia #listado {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#experiencia #listado #texto {
    width: 90%;
    margin: 20px;
    color: white;
}

#experiencia #listado #botones {
    padding: 0;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#experiencia #listado #botones a {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#experiencia #listado #botones a svg{
    width: 20px;
    height: 20px;
}

/*Modals*/
.modal-content{
    border: solid 2px #0c0c2c;
}

.modal-content .modal-header{
    border-bottom: solid 2px #ae3452;
}

.modal-content .modal-body input {
    border: solid 1px #38bbc3;
}

.modal-content .modal-footer {
    border-top: solid 2px #ae3452;
}

/*Responsivo*/
@media only screen and (max-width:425px) {
    #experiencia #encabezado a {
        width: 20px;
        height: 20px;
        padding: 2px;
        right: 15px;
    }

    #presentacion #botones a{
        width: 20px;
        height: 20px;
        padding: 2px;
    }

    #experiencia #encabezado #titulo h1{
        padding: 5px;
    }

    #experiencia #listado #texto {
        margin: 10px;
    }

    #experiencia #listado #botones {
        width: 20px;
        margin-right: 15px;
    }

    #experiencia #listado #botones a{
        width: 20px;
        height: 20px;
        padding: 2px;
    }
}