#experiencia {
    width: 100%;
    background-color: #0c0c2c;
    padding: 0;
    margin: 0;
}

#experiencia #encabezado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#experiencia #encabezado #titulo{
    display: flex;
    align-items: center;
}

#experiencia #encabezado #titulo h1{
    padding: 10px;
    text-transform: uppercase;
    justify-content: center;
}

#experiencia #encabezado #titulo h1:hover{
    color: #ae3452;
}

#experiencia #encabezado a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 5px;
    right: 20px;
}

#experiencia #encabezado a svg {
    position: relative;
    width: 20px;
    height: 20px;
}

/*Notificacion base de datos vacia*/
#experiencia .notificacion{
    width: 100%;
    margin: 20px;
}

#experiencia .notificacion .alert{
    width: 100%;
}

#experiencia .notificacion .alert h4{
    text-transform: uppercase;
}

/*Renderizado de lista*/
#experiencia #listado {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#experiencia #listado #texto {
    width: 90%;
    margin: 20px;
    color: white;
}

#experiencia #listado #botones {
    padding: 0;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#experiencia #listado #botones a {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#experiencia #listado #botones a svg{
    width: 20px;
    height: 20px;
}

/*Responsivo*/