#skills {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    justify-content: space-between;
    align-items: center;
}


#skills #encabezado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#skills #encabezado #titulo{
    display: flex;
    align-items: center;
}

#skills #encabezado #titulo h1{
    padding: 10px;
    text-transform: uppercase;
    justify-content: center;
}

#skills #encabezado #titulo h1:hover{
    color: #ae3452;
}

#skills #encabezado a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 5px;
    right: 20px;
}

#skills #encabezado a svg {
    position: relative;
    width: 20px;
    height: 20px;
}

/*Notificacion base de datos vacia*/
#skills .notificacion{
    width: 80%;
}

#skills .notificacion .alert{
    width: 100%;
    margin: 0px;
}

#skills .notificacion .alert h4{
    text-transform: uppercase;
}

/*Renderizado de lista*/
#skills #contenedor_skills {
    width: 100%;
    margin-bottom: 25px;
}

#skills #contenedor_skills #listado{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


#skills #contenedor_skills #listado #cards {
    width: 25%;
}

#skills #contenedor_skills #listado #cards #circulo {
    width: 100%;
}

#skills #contenedor_skills #listado #cards #circulo #progreso{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#skills #contenedor_skills #listado #cards #botones {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;

}

#skills #contenedor_skills #listado #cards #botones a {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}

#skills #contenedor_skills #listado #cards #botones a svg{
    width: 20px;
    height: 20px;
}

/*Responsivo*/

