.gradient-custom {
    /* fallback for old browsers */
    background: #ae3452;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ae3452, #38bbc3, #0c0c2c);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ae3452,#38bbc3,  #0c0c2c)
    }

    #boton:hover{
        background-color: #38bbc3;
        border-color: #38bbc3;
        color:white;
    }