.container-fluid, .container-fluid .row, .container-fluid .row app-logo {
    padding: 0;
    margin: 0;
}

@media only screen and (max-width:375px) {
    .container-fluid{
    height: 49vh;
    }
}

@media only screen and (max-width:320px) {
    .container-fluid{
    height: 44vh;
    }
}